
.barra {
    float: left;
    width: 20%;
    max-width: 20%;
    padding-left: 6px;
}

.menu  > * {
    margin-left: 6px;
    max-width: 90%;
    width: 90%;
}
.contenido {
    float: left;
    margin-left: 5%;

}
